.actions
  - actions = @actions
  - Object.keys(actions).each (name) ->
    %button
      = name.titleize()
      - on "click", ->
        - actions[name]()

  = HAMLjr.templates.issue_selector @issues
