%textarea
  = @source
%button
  Save
  - on "click", ->
    - Gistquire.update gistId, {files: {"build.js": {content: HAMLjr.compile(HAMLjr.parse($('textarea').val()), name: "test")}, "editor.haml": {content: $('textarea').val()}}}
