%textarea
  = @source
%button
  Save
  - on "click", ->
    - Gistquire.update gistId, {files: {"build.js": {content: HAMLjr.compile(HAMLjr.parser.parse($('textarea').val()), name: "test", compiler: CoffeeScript)}, "editor.haml": {content: $('textarea').val()}}}

%button
  Badical