%ul.filetree
  - selectedFile = @selectedFile
  - removeFile = @removeFile
  - files = @files
  - each files, (file) ->
    %li= file.path
      - on "click", (e) -> 
        - selectedFile(file) if $(e.target).is('li')
      .delete
        - on "click", -> files.remove(file)
        X
