version: "0.4.2"
entryPoint: "main"
width: 960
height: 800
remoteDependencies: [
  "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"
  "https://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.7.1/coffee-script.min.js"
]
dependencies:
  analytics: "distri/google-analytics:v0.1.0"
  base64: "distri/base64:v0.9.0"
  builder: "distri/builder:v0.5.3-pre.0"
  cornerstone: "distri/cornerstone:v0.3.0-pre.2"
  cson: "distri/cson:v0.1.0"
  emojer: "STRd6/emojer:v0.2.0"
  filetree: "distri/filetree:v0.4.0-pre.1"
  github: "distri/github:v0.5.2-pre.1"
  hygiene: "STRd6/hygiene:v0.2.0"
  md: "distri/md:v0.4.3"
  notifications: "distri/notifications:v0.3.3"
  packager: "distri/packager:v0.7.0"
  postmaster: "distri/postmaster:v0.2.2"
  runner: "distri/runner:v0.3.2"
  runtime: "distri/runtime:v0.3.0"
