version: "0.3.0"
entryPoint: "main"
width: 960
height: 800
remoteDependencies: [
  "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"
  "https://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.3/coffee-script.min.js"
  "https://code.jquery.com/jquery-1.10.1.min.js"
  "http://www.danielx.net/tempest/javascripts/envweb-v0.4.7.js"
]
dependencies:
  analytics: "distri/google-analytics:v0.1.0"
  builder: "distri/builder:v0.3.9"
  chrapps: "distri/chrapps:v0.1.2"
  cson: "distri/cson:v0.1.0"
  filetree: "STRd6/filetree:v0.3.1"
  github: "distri/github:v0.4.3"
  issues: "distri/issues:v0.2.1"
  md: "distri/md:v0.4.1"
  notifications: "distri/notifications:v0.3.0"
  hygiene: "STRd6/hygiene:v0.2.0"
  runtime: "distri/runtime:v0.3.0"
  packager: "distri/packager:v0.5.8-pre.0"
  runner: "distri/runner:v0.2.5"
  tests: "distri/tests:v0.1.1"
  "value-widget": "distri/value-widget:v0.1.2"
