version: "0.2.0"
width: 960
height: 800
remoteDependencies: [
  "//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.3/coffee-script.min.js"
  "//code.jquery.com/jquery-1.10.1.min.js"
  "//d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js"
  "http://strd6.github.io/tempest/javascripts/envweb.js"
  "http://strd6.github.io/require/master.js"
]
dependencies:
  issues: "STRd6/issues:master"
  test_runner: "STRd6/tests:master"
  sandbox: "STRd6/sandbox:master"
  notifications: "STRd6/notifications:master"
  github: "STRd6/github:tag-refs2"
