*
  box-sizing: border-box

html, body
  height: 100%

body
  display: flex
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300
  margin: 0

main
  display: flex
  flex-direction: row
  width: 100%

  > section
    display: flex
    flex-direction: column

    &:nth-child(2)
      flex: 1

      > section
        display: flex
        flex-direction: row

filetree
  display: block
  margin: 0
  padding: 0
  overflow-x: hidden
  overflow-y: auto
  z-index: 2

  > file, > filetree
    cursor: pointer
    list-style-type: none
    padding-left: 1em
    position: relative
    white-space: nowrap

  > file
    display: block

    > .delete
      display: none
      position: absolute
      right: 0
      top: 0

    &:hover
      background-color: lightyellow

      > .delete
        display: inline-block

actions
  display: block
  flex: 1
  height: 40px

  button
    margin-right: 0.25em

.repo_info
  border-bottom: 1px solid black
  font-size: 0.8em
  height: 40px
  overflow: hidden
  padding: 0.25em 1em
  width: 200px

.console-wrap
  display: block
  height: 100px

  > .errors
    box-sizing: border-box
    border-top: 1px solid black
    color: red
    margin-top: 0

    &:empty
      margin-bottom: 0

#ace
  flex: 1
