html, body
  margin: 0
  height: 100%

body
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300

.main
  position: relative
  padding-top: 40px
  padding-left: 200px
  padding-bottom: 100px
  box-sizing: border-box
  height: 100%

.editor-wrap
  background-color: white
  width: 100%
  height: 100%
  position: relative

  & > div
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

.filetree
  margin: 0
  padding: 0
  width: 200px
  overflow-x: hidden
  overflow-y: auto
  position: absolute
  left: 0
  bottom: 0
  top: 40px
  z-index: 2

  li
    cursor: pointer
    list-style-type: none
    padding-left: 1em
    position: relative
    whitespace: nowrap

    .delete
      display: none
      position: absolute
      right: 0
      top: 0

    &:hover
      background-color: lightyellow

      .delete
        display: inline-block

.actions
  position: absolute
  top: 0
  left: 200px
  z-index: 1

.repo_info
  box-sizing: border-box
  position: absolute
  top: 0
  left: 0
  padding: 0.25em 1em
  width: 200px
  overflow: hidden
  border-bottom: 1px solid black
  height: 40px
  font-size: 0.8em

.console-wrap
  box-sizing: border-box
  position: absolute
  bottom: 0
  left: 0
  right: 0
  padding-left: 200px
  height: 100px
  width: 100%
  margin: 0

  .errors
    box-sizing: border-box
    border-top: 1px solid black
    color: red

.status
  top: 0
  right: 0
  position: absolute
